{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <h1>Tasks</h1>
    <a href="/tasks/add">Add tasks</a>
    {% for task in tasks %}
    <div class="wrapper">
        <h4>Description - {{ task.description }}</h2>
        <p>Status - {{ task.status }}</p>
        <p><a href="/task/?pk={{ task.pk }}">Подробнее</a></p>
    </div>
    {% endfor %}
</body>
</html>