{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create task</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <h1>New task</h1>
    <form action="/tasks/add/" method="POST">
        {% csrf_token %}
        <div class="form">
            <div class="form_row">
                <label for="description">Description: </label>
                <input class="input_text" id="description" name="description" type="text">
            </div>
            <div class="form_row">
                <span>Status:</span>
                <select name="select" class="status">
                    <option value="new">New</option>
                    <option value="inProgress">In progress</option>
                    <option value="done">Done</option>
                </select>
            </div>
            <div class="form_row">
                <label for="deadline">Deadline: </label>
                <input class="input_text" id="deadline" name="deadline" type="text">
            </div>
            <div class="from_row">
                <input type="submit">
            </div>
        </div>
    </form>
</body>
</html>