{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create task</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <h1>New task</h1>
    <form action="/tasks/add/" method="POST">
        {% csrf_token %}
        <div class="form">
            <div class="form_row">
                <label for="title">Title: </label>
                <input class="input_text" id="title" name="title" type="text">
            </div>
            <div class="form_row">
                <label for="description">Description: </label>
                <input class="input_text" id="description" name="description" type="text">
            </div>
            <div class="form_row">
                <label for="status">Status:</label>
                <input class="input_text" id="status" name="status" type="text">
            </div>
            <div class="form_row">
                <label for="deadline">Deadline: </label>
                <input class="input_text" id="deadline" name="deadline" type="date">
            </div>
            <div class="from_row">
                <input type="submit">
            </div>
        </div>
    </form>
</body>
</html>