.form {
    width: 350px;
    margin-top: 20px;
}

.form_row {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.input_text, .status {
    width: 250px;
    height: 25px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}